<a href="https://colab.research.google.com/github/PD7-debug/Assignment-Mod-1/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a code to create a string with your name and print it
name = "Pranay Domke"
print(name)

Pranay Domke

In [ ]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#4.  Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. 1.	Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
#14. 1.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [ ]:
#15. 1.	Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ('apple', 'banana', 'kiwi')
print('kiwi' in t)

True

In [ ]:
#16. 1.	Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [ ]:
#26. 1.	Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
#27. 1.	Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[8, 9, 40, 59, 92]

In [ ]:
#28. 1.	Write a code to create a list with strings and print the element at the third index.
lst = ['one', 'two', 'three', 'four', 'five']
print(lst[3])

four

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30.Write a code to convert a list of strings into a set
lst = ['apple', 'banana', 'apple']
print(set(lst))

{'apple', 'banana'}